<html xmlns:th="http://thymeleaf.org">
	<head>
		<div>
			<title>Transaction #[[${transaction.id}]] Details</title>
		</div>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	
	<body>
		<h2>Transaction ID: [[${transaction.id}]]
			<span th:if="${transaction.type == 'D'}">(Debit)</span>
			<span th:if="${transaction.type == 'C'}">(Credit)</span>			
		</h2>
		<p>
			<span>Date: </span>[[${transaction.date}]]
			<br>
			<span>Amount: </span> 
			<span th:if="${transaction.type == 'D'}">[[${transaction.amount}]]</span>
			<span th:if="${transaction.type == 'C'}">-[[${transaction.amount}]]</span>
			<br>
			<span>Description: </span>[[${transaction.description}]]
		</p>
		<div>
			<a th:href="@{/transactions}">Back</a>
		</div>
		
	</body>
</html>